.lefttHomeContent{
    width: 38rem;
    margin-left: 22.5rem;
    border-right: 1px solid lightgray;
    padding-right: 3rem;
}
.rightHomeContent{
    padding-left: 1rem;
}
.home{
    display: flex;
}