.profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    bottom: 1rem;
}

.profileImage{
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
    border-radius: 50%;
}

.profile .fa-ellipsis-h{
    padding-left: 2rem;
}