.singleWhatsHappening{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 20rem;
    margin: 1rem;
    line-height: 1.7rem;
}
.whatsHappeningImage{
    width: 5rem;
    height: 4rem;
    border-radius: 0.5rem;
}

.singleWhatsHappeningRight{
    padding-left: 1rem;
}

.whatsHappeningText{
    font-weight: bold;
}