.whatsHappening{
    margin-top: 1rem;
    background: rgba(51, 51, 51, 0.067);
    padding: 1rem;
    border-radius: 0.5rem;
}

.showMore{
    text-decoration: none;
    color: #1c9bef;
    margin: 1rem;
}